---
permalink: /OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-G0ZF7/RemotelyNetwork/Actions=InvokeRequest/TokenKeyPairs=Authorization/PrivatizedAPIs/Services/BizProducts/ANON-OKRs-E/Intl/HKG
layout: ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/USA/singleton_model/core
title: 🥷 匿名-目標執行管理應用 · 了解我們如何協助進行全面變革.
excerpt: 📡  我們是匿名者, 正在為下一階段做準備, 期待我們.
---

<link rel="stylesheet" href="{{ site.remote_network_vm_for_anon_inc_base_addr }}css/plugin_library/new_media/v2/watch.min.css">
<style>
	.content_omitted_322 {
		max-width: 335px;
		vertical-align: top;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>

<div class="container">
	<div class="row row--grid">
		<!-- IMPORT BREADCRUMB START -->
		<div class="col-12 col-xl-10 offset-xl-1">
			<ul class="breadcrumb">
				<li class="breadcrumb__item"><a href="javascript:void(0);">首頁</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">活動</a></li>
				<li class="breadcrumb__item"><a href="javascript:void(0);">X 計劃</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">我們的工作</a></li>
				<li class="breadcrumb__item"><a href="javascript:void(0);">產品</a></li>
				<li class="breadcrumb__item breadcrumb__item--active">匿名-目標執行管理應用</li>
			</ul>
		</div>
		<!-- IMPORT BREADCRUMB END -->
		<div class="col-12 col-xl-10 offset-xl-1">
			<div class="article">
				<!-- IMPORT ARTICLE CONTENT START -->
				<div class="article__content">
					<div class="single-watch">
						<div class="watch-container" id="WATCH?LM=APTXGKS0Q"></div>
					</div>
					<div class="article__meta">
                        <a class="article__category" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="translate-api"><i class="translate-icons ri-translate-2" style="margin-right: 5px;"></i>推文翻譯</a>
                        <ul class="router_menu dropdown-menu header__profile-menu" aria-labelledby="translate-api">
                            {% for i18n_api in site.remote_network_anon_okr_translate_api %}
                            <li class="router_menu_subset" style="padding-left: 0px;"><a class="header__nav-link" href="{{ i18n_api.code_link }}"><img src="{{ i18n_api.code_icon }}" alt="{{ i18n_api.code_name }}" style="width: 20px; height: 20px; margin: 0 10px 0px 0px;"><span>{{ i18n_api.code_name }}</span></a></li>
                            {% endfor %}
                            <li class="router_menu_subset footer_i18n" style="padding-left: 0px;">ISO 代碼 (A ~ Z.)</li>
						</ul>
						<span class="article__date">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path d="M12,2A10,10,0,1,0,22,12,10.01114,10.01114,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,12,20ZM14.09814,9.63379,13,10.26807V7a1,1,0,0,0-2,0v5a1.00025,1.00025,0,0,0,1.5.86621l2.59814-1.5a1.00016,1.00016,0,1,0-1-1.73242Z" />
							</svg>
							<span class="article__date" id="IntlTime_0x00qzi6">{% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/utils/transformers-models/remote_i18n_time.html %}</span>
						</span>
					</div>

					<h1><i class="ri-bubble-chart-fill" style="margin-right: 0px; font-size: 30px;"></i> 匿名-目標執行管理應用 · 了解我們如何協助進行全面變革.</h1>
					<blockquote>未來取決於我們不斷探索遠大目標, 我們可透過已經實現的目標關鍵結果為社會建立與創造長期價值, 我們是匿名者, 期待我們.</blockquote>

					<h2><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 23px;"></i> 什麼是OKR?</h2>
					<ul>
						<li>1. OKR = Objectives & Key Results, 中文含義即目標與關鍵結果;</li>
						<li>2. O = Objective, 是對一個定性的寬泛目標的描述, 是在推進企業向自身所期望的方向前進;
							<ul><li>2.1 示例: "我們想做的是什麼?", 發展我們匿名組織的全球業務;</li></ul>
						</li>
						<li>3. KR = Key Result, 是衡量一個確定目標完成度的關鍵結果;
							<ul><li>3.1 示例: "我們將如何得知是否完成了關鍵結果?", 實現匿名組織全球銷售額1億美元的目標;</li></ul>
						</li>
						<li>4. OKR理念來自於德魯克的目標管理, 通過設定挑戰性目標, 聚焦核心工作, 持續跟踪進展, 及時溝通反饋, 終達成個人、組織及公司目標;</li>
					</ul>

					<h2><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> 我們構建的匿名-目標執行管理應用框架</h2>
					<!-- Sync With Media Resources -->
					<script type="text/javascript">
						function SyncTransformersModel() {
							var currentTime = new Date().getHours();
							if (0 <= currentTime && currentTime < 5) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_dark_models_addr }}' alt='ANON OKRs-E''>");
							}
							if (5 <= currentTime && currentTime < 19) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_light_models_addr }}' alt='ANON OKRs-E''>");
							}
							if (19 <= currentTime && currentTime < 24) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_dark_models_addr }}' alt='ANON OKRs-E''>");
							}
						}
						SyncTransformersModel();
					</script>
					<ul>
						<li>1. 制定有效(ANON OKRs-E)目標關鍵結果與執行;</li>
						<li>2. 建立(KR)關鍵結果評分標準體系;</li>
						<li>3. 進展跟踪/持續反饋/及時調整;</li>
						<li>4. 定期績效評估;</li>
					</ul>

					<h2><i class="ri-flutter-fill" style="margin-right: 6px; font-size: 24px;"></i>快速部署 我們的匿名-目標執行管理應用</h2>

					<h3>1. 團隊OKR制定</h3>
					<p>團隊成員通常是在一次集中會議上採用目標眾籌方式, 群策群力共同討論制定出團隊OKR, 明確團隊未來的努力方向, 整個過程共分為4個步驟:</p>
					<blockquote>
						1.1. 團隊領導者首先系統總結團隊過去的工作業績及不足, 並給出建議工作方向, 介紹完之後可以徵詢一下大家是否有疑問, 確保所有團隊成員都理解;
						<br><br>
						1.2. 讓每個團隊成員結合團隊目標、個人工作職責以及工作興趣思考, 接下來團隊需要達成哪些目標, 才能讓團隊做得更好, 每個團隊成員貢獻1~2條團隊OKR, 在這一過程中, 團隊領導者作為團隊一員, 也需要提交1~2條團隊OKR;
						<br><br>
						1.3. 團隊領導者匯總所有團隊成員輸出的團隊OKR建議, 逐一讓提交人講解其所提交OKR的價值和意義, 解答其他團隊成員的疑惑, 在所有團隊OKR都講解完畢之後, 所有團隊成員進行投票選出最重要的3~5條OKR, 形成最終的團隊OKR;
						<br><br>
						1.4. 團隊領導者綜合大家的團隊OKR, 提交上級領導者審批, 如有必要可結合上級領導者的意見進行相應增補, 並再次召集討論會, 達成一致理解後定稿形成最終團隊OKR;
					</blockquote>

					<h3>2. 個人OKR制定</h3>
					<p>只有當團隊目標和個人目標結合使用時, 團隊的績效表現才能達到最佳水平, 成員在製定個人OKR時需要思考如何承載團隊OKR, 具體步驟如下:</p>
					<blockquote>
						2.1. 首先成員結合團隊OKR及個人興趣, 思考自己可以在哪些方面為團隊目標做貢獻, 形成自己的個人OKR初稿;
						<br><br>
						2.2. 然後將個人OKR錄入到我們匿名公共的OKR系統平台, 以便所有團隊成員都能便捷地查閱和評論;
						<br><br>
						2.3. 其次邀請領導者和其他團隊成員對自己的OKR進行評論, 以確認是否有遺漏和不當的地方;
						<br><br>
						2.4. 最後結合團隊的意見刷新個人OKR;
					</blockquote>

					<h3>3. 公示OKR</h3>
					<blockquote>
						公示並不只是把確定好的OKR通知全員, 而是確認為什麼制定了這些目標, 實現這些目標對公司的意義, 一起完成這些目標需要大家分別做什麼等問題做詳細的溝通, 確保大家對目標的理解一致;
						<br><br>
						公示在公司OKR系統上, 每個人都可以看到其他人的OKR, 包括高管和CEO的OKR;
						<br><br>
						通過了解別人的OKR, 就可以清晰地評估出自己的OKR與別人相比, 是在目標上更有野心了還是更保守了, 目標方向是一致, 還是偏離, 再與當事人溝通探討, 就會進行自動修復;
					</blockquote>

					<h3>4. 執行OKR</h3>
					<blockquote>
						當有了關鍵結果後, 要圍繞具體目標分解任務, 每項關鍵結果都會派生出一系列的任務, 交給不同的成員負責;
						<br><br>
						關鍵結果(KR)負責人作為項目經理來調動企業資源和組織協調大家, 並與企業決策者之間應當保持絕對通暢的溝通;
						<br><br>
						在實施OKR時執行是整個週期的重要核心部分, 執行的重點是定期檢查, 必要時調整, 通常是一周或一個月檢查一次;
						<br><br>
						OKR在做檢查時考慮的因素要涵蓋"目標、當前進度、遇到的問題、問題的原因、需要的支持、下一步的計劃", 可採用OKR系統協助實施, 方便以後追溯全過程;
					</blockquote>

					<h3>5. 溝通與打分</h3>
					<blockquote>
						每個成員在每個季度初需要確定自己本季度的OKR, 在一個季度結束後需要根據自己這個季度的工作完成情況給OKR打分, OKR的打分有多種形式: 0~1、1~5、1~10、1~100;
						<br><br>
						OKR鼓勵成員制定有挑戰性的目標, 走出舒適區突破自我, 所以目標100%完成不一定是最好的, 最佳分數是0.6~0.7分, 高分不一定得到表揚, 說明目標設定的野心不夠, 下個週期需要調整, 低分也不一定受到批評, 而應通過工作分析, 找到下一周期OKR的改進方法;
					</blockquote>

					<h3>6. 激勵成員</h3>
					<blockquote>
						OKR相對於KPI而言, 不是一個考核工具, 而是一個更具有指導性的工具, 它存在的主要目的不是考核某個團隊或者成員, 而是時刻提醒每一個人當前的任務是什麼;
					</blockquote>

					<h3>7. 循環往復</h3>
					<blockquote>
						如此循環往復, 在執行過程中可查看是否有必要改進關鍵結果, 在這裡要切記可以調整的是關鍵結果, 而不是目標;
						<br><br>
						目標不能調整, 措施和方法可以不斷完善, 同樣關鍵結果的設定和調整也必須是管理者與成員直接充分溝通後的共識;
					</blockquote>

					<br>
					<h3><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> 了解更多 關於我們的 ANON OKRs-E 知識庫</h3>
					<h5>1. 制定有效(ANON OKRs-E)目標關鍵結果與執行</h5>
					<blockquote>
						1. 制定有效的O: 你可以先制定一個季度的目標, 這個目標一定是推動業務發展的目標, 這個目標是一個經營策略的轉化, 通常我們使用文字而不是數字, 同時這個目標的執行團隊必須可控, 這樣制定的目標才有可能完成;
						<br><br>
						2. 制定有效的KR: 常見的KR分為三種類型: 積極的、有效的、臨界值, 建議盡可能的設定積極的KR, 我們應該試圖去獲得好的成績, 而不是避免不好的事情發生;
					</blockquote>

					<h5>2. 建立(KR)關鍵結果評分標準體系</h5>
					<blockquote>
						在企業的評分體系確定之前, KR不應被視做已“明確定義”了, KR應該有挑戰性的, 給人感覺近乎無法實現, 並且有可能要求我們改變固有的思維方式;
						<br><br>
						1 = 不可思議的成果, 感覺近乎不可能實現, 要求我們改變思維定式, 用不同的方式去思考;<br>
						0.7 = 我們希望可以做到這個程度, 這有些困難, 但並非不可能實現, (50比50的可能性);<br>
						0.3 = 我們知道, 自己不需要付出比處理“常規工作”多的努力就可以完成;<br>
						0 = 沒有任何進展;
					</blockquote>

					<h5>3. 進展跟踪/持續反饋/及時調整</h5>
					<blockquote>
						所有人都要了解團隊的目標, 甚至其他團隊的目標進展, 這樣有助於跨團隊的工作, 提高協作效率;
						<br><br>
						同時, 彼此之間需要給與反饋, 實現成員與管理者之間的實時互動, 團隊與團隊之間的價值共享;
					</blockquote>

					<h5>4. 定期績效評估</h5>
					<blockquote>
						半年或年度一次的績效評估(成員自評/成員反饋/績效面談/績效校準), 績效評估的頻次不建議採用季度或月度的模式;
						<br><br>
						由於OKR的最佳頻次為每季度一次, 而季度末也會進行OKR的審查, 如果績效評估的頻次比OKR的審查頻次還高會起不到總結、評估的效果;
						一定程度上會有重疊, 也會增加成員的負擔, 使成員無法聚焦於自己的本職工作;
					</blockquote>

					<h3><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> 我們是匿名者, 正在為下一階段做準備, 期待我們.</h3>
					<p>如需觀看更多或深入了解我們, 請閱讀 <a href="https://drive.google.com/file/d/1U3fxsCO61FuqVe5sk5oRF2HnBKD76QCa/view" target="_blank">匿名令牌白皮書</a>;</p>
					<div class="share">
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-bit-coin-fill" style="margin-right: 4px; font-size: 18px;"></i>比特幣 地址: 3PZ4372o8s7uFCFwETc7BgddHRVyrvvcHp
						</a>
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-copper-diamond-fill" style="margin-right: 4px; font-size: 18px;"></i>以太坊 地址: 0x4CA3002dfA8145d7C57486e61581A363680F277c
						</a>
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-copper-coin-fill" style="margin-right: 4px; font-size: 18px;"></i>門羅幣 地址: 8ANdYC6J39cSashNB82piPWEYdFVeeZgKj8bWzrWxqAk9ep3QNcGZ7h3oZQt8sLeGHKkxUJwsvHs3HsEqgg1qAfe8oy4TXg
						</a>
					</div>

				</div>
				<!-- IMPORT ARTICLE CONTENT END -->
			</div>
		</div>
	</div>
</div>

<script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}css/plugin_library/new_media/v2/watch.min.js"></script>

<script type="text/javascript">
	const remote_media_flow_network_watch_subtitle_language = "anon_okr_i18n_hkg.vtt";
	const remote_media_flow_network_i18n = "zh-tw";
	const remote_media_flow_network_live = "false";
	const remote_media_flow_network_logo = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/common/anon_sys_v_compression_300.png";
	const remote_media_flow_network_cover = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/remote_media_flow/watch=privatized-network/anon_okr/anon_news_cover.png";
	const remote_media_flow_network_subtitle = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/remote_media_flow/watch=privatized-network/anon_okr/" + remote_media_flow_network_watch_subtitle_language;
	const compressed_pointer = "&idx=1&adaptivelytrans=0&bizid=1023&dotrans=2991&hy=SZ&m=73ea83bfb53c56ea389ba6942044463e&web=1&X-snsvideoflag=xV3&taskid=0";
	const anon_token = "AxricY7RBHdUvd7j5pYw5nckXRFDVrzmEKg50bhfPS3mGkviark07cMcGmevOvvoKdYuuEWGNRrpU";
	const remote_media_flow_network_service = "https://finder.video.qq.com/251/20302/stodownload?encfilekey=Cvvj5Ix3eewK0tHtibORqcsqchXNh0Gf3sJcaYqC2rQBEeQibtsx5EBb1WicqAt2yVzk21P235iazaAIszlG0KCoACoKETTAnYQTKze39wVbJRgK3SicjaZdcZPS2b2JSIg0V&token=" + anon_token;

	const anon_watch_container = new ANON_WATCH({
		container: document.getElementById('WATCH?LM=APTXGKS0Q'),
		theme: '#00fe3c',
		volume: 0.7,
		loop: false,
		airplay: true,
		hotkey: true,
		mutex: true,
		preload: 'auto',
		autoplay: false,
		screenshot: true,
		live: false,
		lang: remote_media_flow_network_i18n,
		logo: remote_media_flow_network_logo,
		video: {
			type: 'auto',
			url: remote_media_flow_network_service,
			pic: remote_media_flow_network_cover
		}, subtitle: {
			url: remote_media_flow_network_subtitle,
			type: 'webvtt',
			fontSize: '16px',
			bottom: '8%',
			color: '#00fe3c',
		}
	});
</script>