---
permalink: /OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-G0ZF7/RemotelyNetwork/Actions=InvokeRequest/TokenKeyPairs=Authorization/PrivatizedAPIs/Services/BizProducts/ANON-OKRs-E/Intl/JPN
layout: ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/USA/singleton_model/core
title: 🥷 匿名-目標実行管理アプリ 抜本的な変化をもたらす方法を学びましょう。
excerpt: 📡  私たちは匿名であり、次の段階に向けて準備を進めており、楽しみにしています.
---

<link rel="stylesheet" href="{{ site.remote_network_vm_for_anon_inc_base_addr }}css/plugin_library/new_media/v2/watch.min.css">
<style>
	.content_omitted_322 {
		max-width: 335px;
		vertical-align: top;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>

<div class="container">
	<div class="row row--grid">
		<!-- IMPORT BREADCRUMB START -->
		<div class="col-12 col-xl-10 offset-xl-1">
			<ul class="breadcrumb">
                <li class="breadcrumb__item"><a href="javascript:void(0);">ホーム</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">アクティビティ</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">プロジェクト X</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">私たちの仕事</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">製品</a></li>
                <li class="breadcrumb__item breadcrumb__item--active">匿名ターゲット実行管理アプリケーション</li>
			</ul>
		</div>
		<!-- IMPORT BREADCRUMB END -->
		<div class="col-12 col-xl-10 offset-xl-1">
			<div class="article">
				<!-- IMPORT ARTICLE CONTENT START -->
				<div class="article__content">
					<div class="single-watch">
						<div class="watch-container" id="WATCH?LM=APTXGKS0Q"></div>
					</div>
					<div class="article__meta">
                        <a class="article__category" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="translate-api"><i class="translate-icons ri-translate-2" style="margin-right: 5px;"></i>ツイートの翻訳</a>
                        <ul class="router_menu dropdown-menu header__profile-menu" aria-labelledby="translate-api">
                            {% for i18n_api in site.remote_network_anon_okr_translate_api %}
                            <li class="router_menu_subset" style="padding-left: 0px;"><a class="header__nav-link" href="{{ i18n_api.code_link }}"><img src="{{ i18n_api.code_icon }}" alt="{{ i18n_api.code_name }}" style="width: 20px; height: 20px; margin: 0 10px 0px 0px;"><span>{{ i18n_api.code_name }}</span></a></li>
                            {% endfor %}
                            <li class="router_menu_subset footer_i18n" style="padding-left: 0px;">ISO コード (A ~ Z.)</li>
						</ul>
						<span class="article__date">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path d="M12,2A10,10,0,1,0,22,12,10.01114,10.01114,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,12,20ZM14.09814,9.63379,13,10.26807V7a1,1,0,0,0-2,0v5a1.00025,1.00025,0,0,0,1.5.86621l2.59814-1.5a1.00016,1.00016,0,1,0-1-1.73242Z" />
							</svg>
							<span class="article__date" id="IntlTime_0x00qzi6">{% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/utils/transformers-models/remote_i18n_time.html %}</span>
						</span>
					</div>

					<h1><i class="ri-bubble-chart-fill" style="margin-right: 0px; font-size: 30px;"></i> 匿名-目標実行管理アプリ 大幅な変更を支援する方法をご確認ください.</h1>
					<blockquote>未来は、高い目標の継続的な探求にかかっています. 私たちは、達成された目標と主要な結果を通じて、社会のために長期的な価値を構築し、創造することができます. 私たちは匿名であり、私たちに期待しています.</blockquote>

					<h2><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 23px;"></i> OKR とは?</h2>
					<ul>
						<li>1. OKR = 目標と主要な結果、目標と主要な結果を意味します;</li>
						<li>2. O = 目的は、定性的な幅広い目標の説明であり、企業が期待する方向に進むように促進することです;
							<ul><li>2.1 例: 「私たちは何をしたいですか?」、匿名の組織のグローバル ビジネスを成長させるために;</li></ul>
						</li>
						<li>3. KR = Key Result は、決定された目標の達成を測定する主要な結果です;
							<ul><li>3.1 例: 「主要な結果が達成されたかどうかをどのように知ることができますか?」、匿名 の 1 億ドルのグローバル売上目標の達成;</li></ul>
						</li>
						<li>4. OKR の概念は、ドラッカーの目標管理に由来します. やりがいのある目標を設定し、コア ワークに焦点を当て、継続的に進捗状況を追跡し、タイムリーにフィードバックを伝達することにより、個人、組織、および会社の目標が最終的に達成されます;</li>
					</ul>

					<h2><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> 匿名対象実行管理アプリケーションフレームワークを構築します</h2>
					<!-- Sync With Media Resources -->
					<script type="text/javascript">
						function SyncTransformersModel() {
							var currentTime = new Date().getHours();
							if (0 <= currentTime && currentTime < 5) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_dark_models_addr }}' alt='ANON OKRs-E''>");
							}
							if (5 <= currentTime && currentTime < 19) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_light_models_addr }}' alt='ANON OKRs-E''>");
							}
							if (19 <= currentTime && currentTime < 24) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_dark_models_addr }}' alt='ANON OKRs-E''>");
							}
						}
						SyncTransformersModel();
					</script>
					<ul>
                        <li>1. 効果的な (ANON OKR-E) ターゲットの主要な結果を作成し、実行する;</li>
                        <li>2. (KR) 主要な結果スコアリング システムを確立します;</li>
                        <li>3. 進捗状況の追跡/継続的なフィードバック/タイムリーな調整;</li>
                        <li>4. 定期的な業績評価;</li>
					</ul>

					<h2><i class="ri-flutter-fill" style="margin-right: 6px; font-size: 24px;"></i>匿名ターゲット実行管理アプリケーションを迅速にデプロイ</h2>
                    <h3>1. チーム OKR の策定</h3>
                    <p>チーム メンバーは通常、一元化された会議でターゲット クラウドファンディング方式を使用して、チーム OKR を議論および策定し、チームの将来の方向性を明確にします。プロセス全体は 4 つのステップに分かれています。</p>
                    <blockquote>
                        1.1. チームリーダーは、まずチームの過去の仕事の成果と欠点を体系的に要約し、仕事の方向性を提案します. 紹介の後、すべてのチームメンバーが理解できるように、質問がある場合は全員に尋ねることができます;
                        <br><br>
                        1.2. 各チーム メンバーに、チームの目標、個人の仕事の責任、仕事上の関心、およびチームをより良くするためにチームが達成する必要がある目標について考えさせます. 各チーム メンバーは、1~2 個のチーム OKR に貢献します. このプロセス中、チームのメンバーとして、チーム リーダーも 1 ～ 2 個のチーム OKR を提出する必要があります。
                        <br><br>
                        1.3. チーム リーダーは、すべてのチーム メンバーから出力されたチーム OKR の提案を要約し、提出者に提出された OKR の価値と意義を 1 つずつ説明するよう求め、他のチーム メンバーの疑問に答えます。すべてのチーム OKR が説明された後、すべてのチーム メンバーが投票し、最も重要な 3 ～ 5 個の OKR を選択して、最終的なチーム OKR を形成します。
                        <br><br>
                        1.4. チーム リーダーは、全員のチーム OKR を統合し、承認のために上層部に提出します.必要に応じて、上層部の意見に基づいて対応する追加を行い、再度ディスカッション ミーティングを開催します.合意と理解に達した後、最終的なチーム OKR を形成するための最終ドラフトが作成されます。
                    </blockquote>

                    <h3>2. 個人の OKR の策定</h3>
                    <p>チームの目標と個人の目標を組み合わせて使用​​する場合にのみ、チームのパフォーマンスは最高のレベルに達することができます。個人の OKR を策定するとき、メンバーはチームの OKR をどのように実行するかを考える必要があります。具体的な手順は次のとおりです。</p>
                    <blockquote>
                        2.1. まず、メンバーはチームの OKR と個人的な興味を組み合わせ、チームの目標に貢献できる場所について考え、独自の個人的な OKR の下書きを作成します。
                        <br><br>
                        2.2. 次に、個人の OKR を匿名の公開 OKR システム プラットフォームに入力して、すべてのチーム メンバーが簡単に閲覧およびコメントできるようにします。
                        <br><br>
                        2.3. 2 番目に、リーダーや他のチーム メンバーに OKR に関するコメントを求め、抜けや不適切な箇所がないか確認します。
                        <br><br>
                        2.4. 最後に、チームの意見で個人の OKR を更新します。
                    </blockquote>

                    <h3>3. OKR を発表</h3>
                    <blockquote>
                        発表は、決定された OKR をすべての従業員に通知するだけでなく、これらの目標が設定された理由、これらの目標を達成するために会社にとって何を意味するか、これらの目標を一緒に達成するために全員が何をする必要があるかを確認するためのものです。
                        <br><br>
                        会社の OKR システムで発表され、誰もが役員や CEO の OKR を含む他の人の OKR を見ることができます。
                        <br><br>
                        他人の OKR を理解することで、自分の OKR が他の人に比べて野心的か保守的か、目標の方向性が一貫しているか逸脱しているかを明確に評価し、当事者とコミュニケーションをとって議論することができます。プロセスが実行されます。
                    </blockquote>

                    <h3>4. OKR の実行</h3>
                    <blockquote>
                        主要な結果がある場合、タスクは特定の目標に基づいて分解されるべきであり、各主要な結果は一連のタスクを導き出し、異なるメンバーに割り当てられます。
                        <br><br>
                        プロジェクトマネージャーとして、企業リソースの動員と全員の組織化と調整を担当する主要な結果（KR）担当者であり、企業の意思決定者との完全にスムーズなコミュニケーションを維持する必要があります。
                        <br><br>
                        実行は、OKR を実装する際のサイクル全体の重要なコア部分であり、実行の焦点は定期的な検査と、必要に応じて通常は週または月に 1 回の調整です。
                        <br><br>
                        検査でOKRが考慮する要素は、「目標、現在の進捗状況、発生した問題、問題の原因、必要なサポート、次のステップの計画」をカバーする必要があり、OKRシステムを使用して実装を支援でき、追跡に便利ですプロセス全体は後で。
                    </blockquote>

                    <h3>5. コミュニケーションと採点</h3>
                    <blockquote>
                        各メンバーは、各四半期の開始時に、この四半期の独自の OKR を決定する必要があり、四半期の終了後に、この四半期の作業完了に応じて OKR を採点する必要があります。OKR 採点にはさまざまな形式があります: 0 ~1、1~5、1~10、1~100;
                        <br><br>
                        OKR は、挑戦的な目標を設定し、コンフォート ゾーンから抜け出すことをメンバーに奨励しているため、目標を 100% 達成することが必ずしも最高であるとは限りません。最高のスコアは 0.6 ~ 0.7 ポイントです。次のサイクルは調整する必要があり、低いスコアが必ずしも批判されるわけではありませんが、ジョブ分析を通じて、次のサイクルで OKR を改善する方法を見つける必要があります。
                    </blockquote>

                    <h3>6. メンバーのやる気を引き出す</h3>
                    <blockquote>
                        KPI と比較すると、OKR は評価ツールではなく、より有益なツールです. その主な目的は、特定のチームやメンバーを評価することではなく、現在のタスクが何であるかを常に全員に思い出させることです。
                    </blockquote>

                    <h3>7. 前後にループ</h3>
                    <blockquote>
                        このサイクルでは、実行プロセス中に主要な結果を改善する必要があるかどうかを確認できます。ここで、調整できるのは主要な結果であり、目標ではないことに注意してください。
                        <br><br>
                        目標を調整することはできません。手段と方法は継続的に改善できます。重要な結果の設定と調整も、マネージャーとメンバー間の直接かつ完全なコミュニケーションの後、コンセンサスでなければなりません。
                    </blockquote>

					<br>
					<h3><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> ANON OKRs-E ナレッジ ベースの詳細</h3>
                    <h5>1. 効果的な (ANON OKR-E) 目的の主要な結果と実行の開発</h5>
                    <blockquote>
                        1. 効果的な O: 最初に四半期ごとの目標を策定できます。この目標は、ビジネス開発を促進する目標でなければなりません。この目標は、ビジネス戦略の変革です。通常、数字の代わりに言葉を使用します。この目標の経営陣このように設定された目標を達成できるように、制御可能でなければなりません。
                        <br><br>
                        2. 有効な KR を設定する: 一般的な KR は 3 つのタイプに分類されます: 正、有効、臨界値、可能な限り正の KR を設定することをお勧めします。
                    </blockquote>

                    <h5>2. (KR) 主要な結果スコアリング システムを確立する</h5>
                    <blockquote>
                        企業の採点システムが整備されるまで、KR は「明確に定義された」と見なされるべきではありません。
                        <br><br>
                        1 = 信じられないほどの結果を得るには、私たちの考え方を変え、別の考え方をする必要があります。<br>
                        0.7 = 少し難しいですが、不可能ではありません (オッズ 50 から 50)。<br>
                        0.3 = 「通常の仕事」よりも労力をかけずにできることを知っている;<br>
                        0 = 進行なし。
                    </blockquote>

                    <h5>3. 進捗状況の追跡/継続的なフィードバック/タイムリーな調整</h5>
                    <blockquote>
                        誰もがチームの目標を理解する必要があり、他のチームの目標の進捗状況も理解する必要があります。これにより、チーム間の作業が容易になり、コラボレーションの効率が向上します。
                        <br><br>
                        同時に、メンバーとマネージャー間のリアルタイムのやり取りと、チーム間の価値共有を実現するために、お互いにフィードバックを与える必要があります。
                    </blockquote>

                    <h5>4. 定期的な業績評価</h5>
                    <blockquote>
                        半年ごとまたは年 1 回のパフォーマンス評価 (メンバーの自己評価/メンバーのフィードバック/パフォーマンス インタビュー/パフォーマンスの調整)。パフォーマンス評価の頻度は、四半期ごとまたは毎月にすることはお勧めしません。
                        <br><br>
                        OKR の最適な頻度は四半期に 1 回であり、OKR は四半期の終わりにレビューされるため、パフォーマンス評価の頻度が OKR の頻度よりも高い場合、要約と評価の効果がありません。
                        ある程度重複することもあり、メンバーの負担も大きくなり、メンバーは自分の仕事に集中できなくなります。
                    </blockquote>

					<h3><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> 私たちは匿名であり、次の段階に向けて準備を進めています.</h3>
					<p>もっと見る、または私たちについてもっと知りたい場合は、お読みください <a href="https://drive.google.com/file/d/1U3fxsCO61FuqVe5sk5oRF2HnBKD76QCa/view" target="_blank">匿名トークンのホワイトペーパー</a>;</p>
					<div class="share">
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-bit-coin-fill" style="margin-right: 4px; font-size: 18px;"></i>ビットコインアドレス: 3PZ4372o8s7uFCFwETc7BgddHRVyrvvcHp
						</a>
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-copper-diamond-fill" style="margin-right: 4px; font-size: 18px;"></i>イーサリアムアドレス: 0x4CA3002dfA8145d7C57486e61581A363680F277c
						</a>
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-copper-coin-fill" style="margin-right: 4px; font-size: 18px;"></i>モネロアドレス: 8ANdYC6J39cSashNB82piPWEYdFVeeZgKj8bWzrWxqAk9ep3QNcGZ7h3oZQt8sLeGHKkxUJwsvHs3HsEqgg1qAfe8oy4TXg
						</a>
					</div>

				</div>
				<!-- IMPORT ARTICLE CONTENT END -->
			</div>
		</div>
	</div>
</div>

<script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}css/plugin_library/new_media/v2/watch.min.js"></script>

<script type="text/javascript">
	const remote_media_flow_network_watch_subtitle_language = "anon_okr_i18n_jpn.vtt";
	const remote_media_flow_network_i18n = "en";
	const remote_media_flow_network_live = "false";
	const remote_media_flow_network_logo = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/common/anon_sys_v_compression_300.png";
	const remote_media_flow_network_cover = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/remote_media_flow/watch=privatized-network/anon_okr/anon_news_cover.png";
	const remote_media_flow_network_subtitle = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/remote_media_flow/watch=privatized-network/anon_okr/" + remote_media_flow_network_watch_subtitle_language;
	const compressed_pointer = "&idx=1&adaptivelytrans=0&bizid=1023&dotrans=2991&hy=SZ&m=73ea83bfb53c56ea389ba6942044463e&web=1&X-snsvideoflag=xV3&taskid=0";
	const anon_token = "AxricY7RBHdUvd7j5pYw5nckXRFDVrzmEKg50bhfPS3mGkviark07cMcGmevOvvoKdYuuEWGNRrpU";
	const remote_media_flow_network_service = "https://finder.video.qq.com/251/20302/stodownload?encfilekey=Cvvj5Ix3eewK0tHtibORqcsqchXNh0Gf3sJcaYqC2rQBEeQibtsx5EBb1WicqAt2yVzk21P235iazaAIszlG0KCoACoKETTAnYQTKze39wVbJRgK3SicjaZdcZPS2b2JSIg0V&token=" + anon_token;

	const anon_watch_container = new ANON_WATCH({
		container: document.getElementById('WATCH?LM=APTXGKS0Q'),
		theme: '#00fe3c',
		volume: 0.7,
		loop: false,
		airplay: true,
		hotkey: true,
		mutex: true,
		preload: 'auto',
		autoplay: false,
		screenshot: true,
		live: false,
		lang: remote_media_flow_network_i18n,
		logo: remote_media_flow_network_logo,
		video: {
			type: 'auto',
			url: remote_media_flow_network_service,
			pic: remote_media_flow_network_cover
		}, subtitle: {
			url: remote_media_flow_network_subtitle,
			type: 'webvtt',
			fontSize: '16px',
			bottom: '8%',
			color: '#00fe3c',
		}
	});
</script>