---
permalink: /OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-G0ZF7/RemotelyNetwork/Actions=InvokeRequest/TokenKeyPairs=Authorization/PrivatizedAPIs/Services/BizProducts/ANON-OKRs-E/Intl/KOR
layout: ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/USA/singleton_model/core
title: 🥷 익명 - 대상 실행 관리 애플리케이션 · 우리가 어떻게 대대적인 변화를 도울 수 있는지 알아보십시오.
excerpt: 📡  우리는 익명이고 다음 단계를 준비하고 있으며 우리를 기대합니다.
---

<link rel="stylesheet" href="{{ site.remote_network_vm_for_anon_inc_base_addr }}css/plugin_library/new_media/v2/watch.min.css">
<style>
	.content_omitted_322 {
		max-width: 335px;
		vertical-align: top;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>

<div class="container">
	<div class="row row--grid">
		<!-- IMPORT BREADCRUMB START -->
		<div class="col-12 col-xl-10 offset-xl-1">
			<ul class="breadcrumb">
                <li class="breadcrumb__item"><a href="javascript:void(0);">홈</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">활동</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">프로젝트 X</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">저희 작업</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">제품</a></li>
                <li class="breadcrumb__item breadcrumb__item--active">익명 대상 실행 관리 애플리케이션</li>
			</ul>
		</div>
		<!-- IMPORT BREADCRUMB END -->
		<div class="col-12 col-xl-10 offset-xl-1">
			<div class="article">
				<!-- IMPORT ARTICLE CONTENT START -->
				<div class="article__content">
					<div class="single-watch">
						<div class="watch-container" id="WATCH?LM=APTXGKS0Q"></div>
					</div>
					<div class="article__meta">
                        <a class="article__category" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="translate-api"><i class="translate-icons ri-translate-2" style="margin-right: 5px;"></i>트윗 번역</a>
                        <ul class="router_menu dropdown-menu header__profile-menu" aria-labelledby="translate-api">
                            {% for i18n_api in site.remote_network_anon_okr_translate_api %}
                            <li class="router_menu_subset" style="padding-left: 0px;"><a class="header__nav-link" href="{{ i18n_api.code_link }}"><img src="{{ i18n_api.code_icon }}" alt="{{ i18n_api.code_name }}" style="width: 20px; height: 20px; margin: 0 10px 0px 0px;"><span>{{ i18n_api.code_name }}</span></a></li>
                            {% endfor %}
                            <li class="router_menu_subset footer_i18n" style="padding-left: 0px;">ISO 코드 (A ~ Z.)</li>
						</ul>
						<span class="article__date">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path d="M12,2A10,10,0,1,0,22,12,10.01114,10.01114,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,12,20ZM14.09814,9.63379,13,10.26807V7a1,1,0,0,0-2,0v5a1.00025,1.00025,0,0,0,1.5.86621l2.59814-1.5a1.00016,1.00016,0,1,0-1-1.73242Z" />
							</svg>
							<span class="article__date" id="i18nTime">{% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/utils/transformers-models/remote_i18n_time.html %}</span>
						</span>
					</div>

					<h1><i class="ri-bubble-chart-fill" style="margin-right: 0px; font-size: 30px;"></i> 익명 - 대상 실행 관리 애플리케이션 · 우리가 어떻게 대대적인 변화를 도울 수 있는지 알아보십시오..</h1>
					<blockquote>미래는 숭고한 목표에 대한 우리의 지속적인 탐구에 달려 있습니다. 우리는 우리가 달성한 목표를 통해 사회를 위한 장기적인 가치를 구축하고 창출할 수 있습니다. 주요 결과, 우리는 익명, 우리를 기대합니다.</blockquote>

					<h2><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 23px;"></i> OKR 이란?</h2>
					<ul>
						<li>1. OKR = 목표 및 주요 결과, 의미 목표 및 주요 결과;</li>
						<li>2. O = 목표는 기업이 자체적으로 기대하는 방향으로 전진하도록 촉진하는 질적 광범위한 목표에 대한 설명입니다.;
							<ul><li>2.1 예: 익명 조직의 글로벌 비즈니스 성장을 위해 "무엇을 하고 싶습니까?";</li></ul>
						</li>
						<li>3. KR = Key Result, 결정된 목표의 달성 여부를 측정하는 핵심 결과;
							<ul><li>3.1 예: "주요 결과가 달성되었는지 어떻게 알 수 있습니까?", Anonymous의 1억 달러 글로벌 판매 목표 달성;</li></ul>
						</li>
						<li>4. OKR의 개념은 Drucker의 목표 관리에서 비롯되었으며, 도전적인 목표를 설정하고, 핵심 업무에 집중하고, 지속적으로 진행 상황을 추적하고, 적시에 피드백을 전달함으로써 개인, 조직 및 회사 목표가 마침내 달성됩니다.;</li>
					</ul>

					<h2><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> 익명의 대상 실행 관리 애플리케이션 프레임워크를 구축합니다.</h2>
					<!-- Sync With Media Resources -->
					<script type="text/javascript">
						function SyncTransformersModel() {
							var currentTime = new Date().getHours();
							if (0 <= currentTime && currentTime < 5) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_dark_models_addr }}' alt='ANON OKRs-E''>");
							}
							if (5 <= currentTime && currentTime < 19) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_light_models_addr }}' alt='ANON OKRs-E''>");
							}
							if (19 <= currentTime && currentTime < 24) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_dark_models_addr }}' alt='ANON OKRs-E''>");
							}
						}
						SyncTransformersModel();
					</script>
					<ul>
                        <li>1. 효과적인(ANON OKRs-E) 목표 핵심 결과를 개발하고 실행합니다.</li>
                        <li>2. (KR) 핵심 결과 채점 시스템 구축</li>
                        <li>3. 진행 상황 추적/지속적인 피드백/적시 조정</li>
                        <li>4. 정기적인 성과 검토</li>
					</ul>

					<h2><i class="ri-flutter-fill" style="margin-right: 6px; font-size: 24px;"></i>익명 대상 실행 관리 애플리케이션을 신속하게 배포</h2>
                    <h3>1. 팀 OKR 공식화</h3>
                    <p>팀 구성원은 일반적으로 중앙 집중식 회의에서 대상 크라우드 펀딩 방식을 사용하여 팀 OKR을 논의 및 공식화하고 팀의 미래 방향을 명확히 합니다. 전체 프로세스는 4단계로 나뉩니다.</p>
                    <blockquote>
                        1.1 팀장은 먼저 팀의 과거 업무 성과 및 미비점을 체계적으로 요약하고 업무 방향을 제안합니다.소개 후에는 모든 팀원이 이해할 수 있도록 질문이 있으면 모든 사람에게 질문할 수 있습니다.
                        <br><br>
                        1.2 각 팀 구성원이 팀 목표, 개인 직무 책임 및 업무 관심사, 팀이 더 나은 팀을 만들기 위해 달성해야 하는 목표에 대해 생각하게 하고 각 팀 구성원은 1~2개의 팀 OKR을 기여합니다. 이 과정에서 , 팀장은 팀의 일원으로서 1~2개의 팀 OKR을 제출해야 합니다.
                        <br><br>
                        1.3 팀장은 모든 팀 구성원이 출력한 팀 OKR 제안을 요약하고 제출자에게 제출된 OKR의 가치와 중요성을 하나씩 설명하도록 요청하고 다른 팀 구성원의 의심에 답변합니다.모든 팀 OKR에 대한 설명이 끝나면 모든 팀 구성원이 투표하고 가장 중요한 3~5개의 OKR을 선택하여 최종 팀 OKR을 구성합니다.
                        <br><br>
                        1.4 팀장은 모든 팀의 OKR을 통합하여 상위 리더에게 승인을 받아 승인을 받으며, 필요한 경우 상위 리더의 의견에 따라 해당 내용을 추가하고 다시 토론회를 소집할 수 있습니다. 최종 드래프트가 구성되어 최종 팀 OKR을 구성합니다.
                    </blockquote>

                    <h3>2. 개인 OKR 공식화</h3>
                    <p>팀 목표와 개인 목표를 함께 사용할 때만 팀의 성과가 최고 수준에 도달할 수 있습니다. 개인 OKR을 공식화할 때 구성원은 팀 OKR을 수행하는 방법에 대해 생각해야 합니다. 구체적인 단계는 다음과 같습니다.</p>
                    <blockquote>
                        2.1.첫째, 구성원들은 팀 OKR과 개인적인 관심사를 결합하고 팀 목표에 기여할 수 있는 부분에 대해 생각하고 자신의 개인 OKR 초안을 작성합니다.
                        <br><br>
                        2.2 그런 다음 개인 OKR을 익명의 공개 OKR 시스템 플랫폼에 입력하여 모든 팀 구성원이 쉽게 보고 댓글을 달 수 있도록 합니다.
                        <br><br>
                        2.3 둘째, 리더와 다른 팀원들이 OKR에 대해 논평하여 누락 및 부적절한 장소가 있는지 확인하도록 합니다.
                        <br><br>
                        2.4 마지막으로 팀의 의견으로 개인 OKR을 새로 고칩니다.
                    </blockquote>

                    <h3>3. OKR 발표</h3>
                    <blockquote>
                        발표는 결정된 OKR을 모든 직원에게 알리는 것이 아니라 이러한 목표가 설정된 이유, 이러한 목표를 달성하기 위해 회사에 의미하는 바, 이러한 목표를 함께 달성하기 위해 모두가 수행해야 할 작업을 확인하기 위한 것입니다.
                        <br><br>
                        회사의 OKR 시스템에 공시되며, 임원 및 CEO의 OKR을 포함하여 모든 사람이 다른 사람의 OKR을 볼 수 있습니다.
                        <br><br>
                        다른 사람의 OKR을 이해함으로써 자신의 OKR이 다른 사람에 비해 목표 측면에서 더 야심차고 보수적인지, 목표의 방향이 일관성이 있는지 또는 일탈하는지 명확하게 평가한 다음 당사자와 의사 소통하여 토론하고, 프로세스가 수행됩니다.자동 수리;
                    </blockquote>

                    <h3>4. OKR 실행</h3>
                    <blockquote>
                        주요 결과가 있을 때 작업은 특정 목표를 중심으로 분해되어야 하며, 각 주요 결과는 일련의 작업을 도출하고 다른 구성원에게 할당됩니다.
                        <br><br>
                        프로젝트 관리자로서 전사적 자원을 동원하고 모든 사람을 조직하고 조정하는 KR(핵심결과)인으로 기업의 의사결정자와 절대적으로 원활한 의사소통을 유지해야 합니다.
                        <br><br>
                        실행은 OKR을 구현할 때 전체 주기의 중요한 핵심 부분이며 실행의 초점은 필요한 경우 일반적으로 일주일 또는 한 달에 한 번 정기적인 검사 및 조정에 있습니다.
                        <br><br>
                        검사에서 OKR이 고려하는 요소는 "목표, 현재 진행 상황, 직면한 문제, 문제의 원인, 필요한 지원 및 다음 단계 계획"을 포함해야 하며 OKR 시스템을 사용하여 구현을 지원할 수 있으므로 추적이 편리합니다. 전체 과정은 나중에;
                    </blockquote>

                    <h3>5. 커뮤니케이션 및 채점</h3>
                    <blockquote>
                        각 구성원은 분기 초에 이번 분기에 대한 자신의 OKR을 결정해야 하며, 분기 종료 후에는 이번 분기의 작업 완료에 따라 OKR을 점수화해야 합니다. OKR 점수에는 다양한 형태가 있습니다. 0 ~1, 1~5, 1~10, 1~100;
                        <br><br>
                        OKR은 구성원들에게 도전적인 목표를 설정하고 자신의 안전지대에서 벗어나도록 권장하므로 목표의 100% 완료가 반드시 최고는 아니며 최고 점수는 0.6~0.7점이며 높은 점수는 칭찬하지 않을 수 있으므로 목표 설정의 야망을 나타냅니다. 충분히 다음 주기를 조정해야 하고 낮은 점수가 반드시 비판을 받을 필요는 없지만 직무 분석을 통해 다음 주기에서 OKR을 개선할 수 있는 방법을 찾아야 합니다.
                    </blockquote>

                    <h3>6. 회원들에게 동기부여</h3>
                    <blockquote>
                        KPI와 비교할 때 OKR은 평가 도구가 아니라 보다 유익한 도구입니다. 주요 목적은 특정 팀이나 구성원을 평가하는 것이 아니라 현재 작업이 무엇인지 항상 모든 사람에게 상기시키는 것입니다.
                    </blockquote>

                    <h3>7. 앞뒤로 반복</h3>
                    <blockquote>
                        이 주기에서는 실행 과정에서 핵심 결과를 개선해야 하는지 여부를 확인할 수 있으며, 여기서 조정할 수 있는 것은 목표가 아니라 핵심 결과임을 기억하십시오.
                        <br><br>
                        목표를 조정할 수 없고 조치와 방법을 지속적으로 개선할 수 있으며 주요 결과의 설정 및 조정도 관리자와 구성원 간의 직접적이고 완전한 의사 소통 후에 합의되어야 합니다.
                    </blockquote>

					<br>
					<h3><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> ANON OKRs-E 지식 기반에 대해 자세히 알아보기</h3>
                    <h5>1. 효과적인(ANON OKRs-E) 목표 핵심 결과 및 실행 개발</h5>
                    <blockquote>
                        1. 효과적인 O 공식화: 먼저 분기별 목표를 공식화할 수 있습니다. 이 목표는 비즈니스 개발을 촉진하는 목표여야 합니다. 이 목표는 비즈니스 전략의 변환입니다. 일반적으로 숫자 대신 단어를 사용하고 이 목표의 경영진 이러한 방식으로 설정된 목표를 달성할 수 있도록 제어 가능해야 합니다.
                        <br><br>
                        2. 효과적인 KR 설정: 일반 KR은 3가지 유형으로 나뉩니다. 긍정적, 효과적, 임계값, 가능한 한 긍정적인 KR을 설정하는 것이 좋습니다. 좋은 결과를 얻으려고 노력해야 합니다. 나쁜 일이 발생하지 않도록 해야 합니다.
                    </blockquote>

                    <h5>2. (KR) 핵심 결과 채점 시스템 구축</h5>
                    <blockquote>
                        KR은 회사의 채점 시스템이 마련될 때까지 "명확하게 정의된" 것으로 간주되어서는 안 되며, KR은 도전적이어야 하고 달성하기가 거의 불가능하다고 느껴야 하며 고유한 사고 방식을 바꾸도록 요구할 수 있습니다.
                        <br><br>
                        1 = 거의 불가능하다고 느끼는 놀라운 결과를 얻으려면 사고 방식을 바꾸고 다르게 생각해야 합니다.<br>
                        0.7 = 우리는 이것을 할 수 있기를 희망합니다. 이것은 다소 어렵지만 불가능하지는 않습니다(50-50 확률).<br>
                        0.3 = "정규 작업"을 처리하는 것보다 더 많은 노력 없이 수행할 수 있음을 알고 있습니다.<br>
                        0 = 진행 없음;
                    </blockquote>

                    <h5>3. 진행 상황 추적/지속적인 피드백/적시 조정</h5>
                    <blockquote>
                        모든 사람은 팀의 목표와 다른 팀의 목표 진행 상황을 이해해야 합니다. 이는 팀 간 작업을 용이하게 하고 협업 효율성을 향상시킵니다.
                        <br><br>
                        동시에 구성원과 관리자 간의 실시간 상호 작용 및 팀 간의 가치 공유를 달성하기 위해 서로 피드백을 제공해야 합니다.
                    </blockquote>

                    <h5>4. 주기적인 성과 평가</h5>
                    <blockquote>
                        반기 또는 연간 성과 평가(구성원 자체 평가/구성원 피드백/성과 인터뷰/성과 보정), 성과 평가 빈도는 분기별 또는 월별로 권장되지 않습니다.
                        <br><br>
                        OKR의 가장 좋은 빈도는 분기 1회이고 OKR은 분기말에 검토되므로 성과 평가 빈도가 OKR보다 높으면 요약 및 평가의 효과가 없습니다.
                        어느 정도 겹치는 부분이 있을 것이고, 그만큼 회원들의 부담도 커져 회원들이 자신의 일에 집중할 수 없게 될 것입니다.
                    </blockquote>

					<h3><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> 우리는 익명이고 다음 단계를 준비하고 있으며 우리를 기대합니다.</h3>
					<p>우리에 대해 더 많이 보거나 자세히 알아보려면 다음을 읽으십시오 <a href="https://drive.google.com/file/d/1U3fxsCO61FuqVe5sk5oRF2HnBKD76QCa/view" target="_blank">익명 토큰 백서</a>;</p>
					<div class="share">
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-bit-coin-fill" style="margin-right: 4px; font-size: 18px;"></i>비트코인 주소: 3PZ4372o8s7uFCFwETc7BgddHRVyrvvcHp
						</a>
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-copper-diamond-fill" style="margin-right: 4px; font-size: 18px;"></i>이더리움 주소: 0x4CA3002dfA8145d7C57486e61581A363680F277c
						</a>
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-copper-coin-fill" style="margin-right: 4px; font-size: 18px;"></i>모네로 주소: 8ANdYC6J39cSashNB82piPWEYdFVeeZgKj8bWzrWxqAk9ep3QNcGZ7h3oZQt8sLeGHKkxUJwsvHs3HsEqgg1qAfe8oy4TXg
						</a>
					</div>

				</div>
				<!-- IMPORT ARTICLE CONTENT END -->
			</div>
		</div>
	</div>
</div>

<script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}css/plugin_library/new_media/v2/watch.min.js"></script>

<script type="text/javascript">
	const remote_media_flow_network_watch_subtitle_language = "anon_okr_i18n_kor.vtt";
	const remote_media_flow_network_i18n = "en";
	const remote_media_flow_network_live = "false";
	const remote_media_flow_network_logo = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/common/anon_sys_v_compression_300.png";
	const remote_media_flow_network_cover = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/remote_media_flow/watch=privatized-network/anon_okr/anon_news_cover.png";
	const remote_media_flow_network_subtitle = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/remote_media_flow/watch=privatized-network/anon_okr/" + remote_media_flow_network_watch_subtitle_language;
	const compressed_pointer = "&idx=1&adaptivelytrans=0&bizid=1023&dotrans=2991&hy=SZ&m=73ea83bfb53c56ea389ba6942044463e&web=1&X-snsvideoflag=xV3&taskid=0";
	const anon_token = "AxricY7RBHdUvd7j5pYw5nckXRFDVrzmEKg50bhfPS3mGkviark07cMcGmevOvvoKdYuuEWGNRrpU";
	const remote_media_flow_network_service = "https://finder.video.qq.com/251/20302/stodownload?encfilekey=Cvvj5Ix3eewK0tHtibORqcsqchXNh0Gf3sJcaYqC2rQBEeQibtsx5EBb1WicqAt2yVzk21P235iazaAIszlG0KCoACoKETTAnYQTKze39wVbJRgK3SicjaZdcZPS2b2JSIg0V&token=" + anon_token;

	const anon_watch_container = new ANON_WATCH({
		container: document.getElementById('WATCH?LM=APTXGKS0Q'),
		theme: '#00fe3c',
		volume: 0.7,
		loop: false,
		airplay: true,
		hotkey: true,
		mutex: true,
		preload: 'auto',
		autoplay: false,
		screenshot: true,
		live: false,
		lang: remote_media_flow_network_i18n,
		logo: remote_media_flow_network_logo,
		video: {
			type: 'auto',
			url: remote_media_flow_network_service,
			pic: remote_media_flow_network_cover
		}, subtitle: {
			url: remote_media_flow_network_subtitle,
			type: 'webvtt',
			fontSize: '16px',
			bottom: '8%',
			color: '#00fe3c',
		}
	});
</script>