---
permalink: /OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-G0ZF7/RemotelyNetwork/Actions=InvokeRequest/TokenKeyPairs=Authorization/PrivatizedAPIs/Services/BizProducts/ANON-OKRs-E/Intl/KSA
layout: ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/USA/singleton_model/core
title: 🇸🇦  مجهول - تطبيق إدارة تنفيذ الهدف اكتشف كيف يمكننا المساعدة في إجراء تغييرات شاملة.
excerpt: 🥷  نحن مجهولون ونستعد للمرحلة التالية ، ونتطلع إلينا. 📡  
---

<link rel="stylesheet" href="{{ site.remote_network_vm_for_anon_inc_base_addr }}css/plugin_library/new_media/v2/watch.min.css">
<style>.content_omitted_322{ max-width:335px;vertical-align:top;white-space:nowrap;overflow:hidden;text-overflow:ellipsis }</style>

<div class="container">
	<div class="row row--grid">
		<!-- IMPORT BREADCRUMB START -->
		<div class="col-12 col-xl-10 offset-xl-1">
			<ul class="breadcrumb">
                <li class = "breadcrumb__item"> <a href="javascript:void(0)؛"> الصفحة الرئيسية </a> </li>
                <li class = "breadcrumb__item"> <a href="javascript:void(0)؛"> النشاط </a> </li>
                <li class = "breadcrumb__item"> <a href="javascript:void(0)؛"> المشروع X </a> </li>
                <li class = "breadcrumb__item"> <a href="javascript:void(0)؛"> عملنا </a> </li>
                <li class = "breadcrumb__item"> <a href="javascript:void(0)؛"> المنتجات </a> </li>
                <li class = "breadcrumb__item breadcrumb__item - active"> تطبيق إدارة تنفيذ هدف مجهول </li>
			</ul>
		</div>
		<!-- IMPORT BREADCRUMB END -->
		<div class="col-12 col-xl-10 offset-xl-1">
			<div class="article">
				<!-- IMPORT ARTICLE CONTENT START -->
				<div class="article__content">
					<div class="single-watch">
						<div class="watch-container" id="WATCH?LM=APTXGKS0Q"></div>
					</div>
					<div class="article__meta">
                        <a class="article__category" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="translate-api"><i class="translate-icons ri-translate-2" style="margin-right: 5px;"></i>سقسقة الترجمة</a>
                        <ul class="router_menu dropdown-menu header__profile-menu" aria-labelledby="translate-api">
                            {% for i18n_api in site.remote_network_anon_okr_translate_api %}
                            <li class="router_menu_subset" style="padding-left: 0px;"><a class="header__nav-link" href="{{ i18n_api.code_link }}"><img src="{{ i18n_api.code_icon }}" alt="{{ i18n_api.code_name }}" style="width: 20px; height: 20px; margin: 0 10px 0px 0px;"><span>{{ i18n_api.code_name }}</span></a></li>
                            {% endfor %}
                            <li class="router_menu_subset footer_i18n" style="padding-left: 0px;">كود ISO (A ~ Z.)</li>
						</ul>
						<span class="article__date">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path d="M12,2A10,10,0,1,0,22,12,10.01114,10.01114,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,12,20ZM14.09814,9.63379,13,10.26807V7a1,1,0,0,0-2,0v5a1.00025,1.00025,0,0,0,1.5.86621l2.59814-1.5a1.00016,1.00016,0,1,0-1-1.73242Z" />
							</svg>
							<span class="article__date" id="IntlTime_0x00qzi6">{% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/utils/transformers-models/remote_i18n_time.html %}</span
						</span>
					</div>

					<h1><i class="ri-bubble-chart-fill" style="margin-right: 0px; font-size: 30px;"></i> مجهول - تطبيق إدارة تنفيذ الهدف اكتشف كيف يمكننا المساعدة في إجراء تغييرات شاملة.</h1>
					<blockquote>يعتمد المستقبل على استكشافنا المستمر للأهداف السامية ، يمكننا بناء وخلق قيمة طويلة الأجل للمجتمع من خلال الأهداف التي حققناها نتائج رئيسية ، نحن مجهولون ، نتوقع منا.</blockquote>

					<h2><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 23px;"></i> ما هي OKRs؟</h2>
					<ul>
						<li>1. OKR = الأهداف والنتائج الرئيسية ، والمعنى الصيني هو الأهداف والنتائج الرئيسية;</li>
						<li>2. O = الهدف ، وهو وصف لهدف نوعي واسع ، وهو تعزيز المؤسسة للمضي قدمًا في الاتجاه المطلوب;
							<ul><li>2.1 مثال: "ماذا نريد أن نفعل؟" ، تنمية الأعمال التجارية العالمية لمنظمتنا المجهولة;</li></ul>
						</li>
						<li>3. KR = النتيجة الرئيسية ، هي نتيجة رئيسية لقياس اكتمال الهدف المحدد;
							<ul><li>3.1 مثال: "كيف سنعرف ما إذا كانت النتائج الرئيسية قد تحققت؟" ، تحقيق هدف Anonymous البالغ 100 مليون دولار في المبيعات العالمية;</li></ul>
						</li>
						<li>4. يأتي مفهوم OKR من إدارة أهداف Drucker ، من خلال تحديد أهداف صعبة ، والتركيز على العمل الأساسي ، وتتبع التقدم المستمر ، وإبلاغ الملاحظات في الوقت المناسب ، يتم تحقيق الأهداف الفردية والتنظيمية والشركة في النهاية.;</li>
					</ul>

					<h2><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> نحن نبني إطار عمل تطبيق إدارة تنفيذ مجهول الهدف</h2>
					<!-- Sync With Media Resources -->
					<script type="text/javascript">
						function SyncTransformersModel() {
							var currentTime = new Date().getHours();
							if (0 <= currentTime && currentTime < 5) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_dark_models_addr }}' alt='ANON OKRs-E''>");
							}
							if (5 <= currentTime && currentTime < 19) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_light_models_addr }}' alt='ANON OKRs-E''>");
							}
							if (19 <= currentTime && currentTime < 24) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_dark_models_addr }}' alt='ANON OKRs-E''>");
							}
						}
						SyncTransformersModel();
					</script>
					<ul>
                        <li> 1. تطوير النتائج الرئيسية المستهدفة الفعالة (ANON OKRs-E) وتنفيذها ؛ </li>
                        <li> 2. إنشاء نظام تسجيل النتائج الرئيسية (KR) ؛ </li>
                        <li> 3. تتبع التقدم / التعليقات المستمرة / التعديلات في الوقت المناسب ؛ </li>
                        <li> 4. مراجعات الأداء الدورية </li>
					</ul>

					<h2><i class="ri-flutter-fill" style="margin-right: 6px; font-size: 24px;"></i>نشر تطبيق إدارة تنفيذ الهدف المجهول لدينا بسرعة</h2>
                    <h3> 1. صياغة فريق OKR </h3>
                    <p> عادةً ما يستخدم أعضاء الفريق طريقة التمويل الجماعي المستهدفة في اجتماع مركزي لمناقشة وصياغة فريق OKR وتوضيح الاتجاه المستقبلي للفريق. وتنقسم العملية برمتها إلى 4 خطوات: </p>
                    <blockquote>
                        1.1 يلخص قائد الفريق أولاً بشكل منهجي أداء العمل السابق للفريق وأوجه القصور ، ويقدم اقتراحات لتوجيهات العمل بعد المقدمة ، يمكنك أن تسأل الجميع إذا كان لديك أي أسئلة للتأكد من أن جميع أعضاء الفريق يفهمون ؛
                        <br> <br>
                        1.2. دع كل عضو في الفريق يفكر في أهداف الفريق ، ومسؤوليات الوظيفة الشخصية واهتمامات العمل ، والأهداف التي يحتاج الفريق إلى تحقيقها من أجل تحسين أداء الفريق. يساهم كل عضو في الفريق 1 ~ 2 في OKRs. في هذا أثناء العملية ، قائد الفريق ، كعضو في الفريق ، يحتاج أيضًا إلى تقديم 1 ~ 2 فريق OKRs ؛
                        <br> <br>
                        1.3. يلخص قائد الفريق مخرجات اقتراحات OKR للفريق من قبل جميع أعضاء الفريق ، ويطلب من مقدمي الطلبات شرح قيمة وأهمية OKRs المقدمة واحدًا تلو الآخر ، والإجابة على شكوك أعضاء الفريق الآخرين. بعد شرح جميع OKRs للفريق ، يصوت جميع أعضاء الفريق حدد أهم 3 ~ 5 OKRs لتشكيل فريق OKR النهائي ؛
                        <br> <br>
                        1.4. يقوم قائد الفريق بدمج OKRs لفريق الجميع وتقديمها إلى القادة المتفوقين للموافقة عليها. إذا لزم الأمر ، يمكنهم إجراء إضافات مقابلة بناءً على آراء القادة المتفوقين ، وعقد اجتماع مناقشة مرة أخرى. بعد الوصول إلى توافق في الآراء والتفاهم ، يتم تشكيل المسودة النهائية لتشكيل الفريق النهائي OKR ؛
                    </blockquote>

                    <h3> 2. صياغة OKR الشخصية </h3>
                    <p> فقط عندما يتم استخدام أهداف الفريق والأهداف الشخصية معًا ، يمكن أن يصل أداء الفريق إلى أفضل مستوى. عند صياغة OKRs الشخصية ، يحتاج الأعضاء إلى التفكير في كيفية تنفيذ OKRs للفريق. الخطوات المحددة هي كما يلي: </p>
                    <blockquote>
                        2.1. أولاً ، يقوم الأعضاء بدمج OKRs للفريق والمصالح الشخصية ، والتفكير في المكان الذي يمكنهم فيه المساهمة في أهداف الفريق ، وتشكيل مسودة OKR الشخصية الخاصة بهم ؛
                        <br> <br>
                        2.2 ثم ​​أدخل OKRs الشخصية في نظامنا الأساسي العام المجهول لنظام OKR ، بحيث يمكن لجميع أعضاء الفريق العرض والتعليق بسهولة ؛
                        <br> <br>
                        2.3 ثانيًا ، قم بدعوة القادة وأعضاء الفريق الآخرين للتعليق على OKRs الخاصة بهم لتأكيد ما إذا كان هناك إغفال وأماكن غير مناسبة ؛
                        <br> <br>
                        2.4 أخيرًا ، تحديث OKR الشخصي بآراء الفريق ؛
                    </blockquote>

                    <h3> 3. أعلن OKR </h3>
                    <blockquote>
                        لا يقتصر الإعلان على إبلاغ جميع الموظفين بـ OKRs المحددة ، ولكن لتأكيد سبب تحديد هذه الأهداف ، وما تعنيه للشركة لتحقيق هذه الأهداف ، وما يجب القيام به من قبل الجميع لتحقيق هذه الأهداف معًا.
                        <br> <br>
                        أعلن في نظام OKR للشركة ، يمكن للجميع رؤية OKRs للآخرين ، بما في ذلك OKRs للمديرين التنفيذيين والرؤساء التنفيذيين ؛
                        <br> <br>
                        من خلال فهم النتائج OKRs الخاصة بالأشخاص الآخرين ، يمكنك تقييم ما إذا كانت OKRs الخاصة بك أكثر طموحًا أو تحفظًا من حيث الأهداف مقارنة بالآخرين ، وما إذا كان اتجاه الأهداف متسقًا أو منحرفًا ، ثم التواصل مع الأطراف للمناقشة ، و سيتم تنفيذ العملية الإصلاح التلقائي ؛
                    </blockquote>

                    <h3> 4. تنفيذ OKR </h3>
                    <blockquote>
                        عندما تكون هناك نتائج رئيسية ، يجب تحليل المهام حول أهداف محددة ، وستشتق كل نتيجة رئيسية سلسلة من المهام ، والتي سيتم تعيينها لأعضاء مختلفين ؛
                        <br> <br>
                        النتيجة الرئيسية (KR) الشخص المسؤول كمدير المشروع يعبئ موارد المؤسسة وينظم التنسيق ، ويجب أن يحافظ على اتصال سلس تمامًا مع صانعي القرار في المؤسسة ؛
                        <br> <br>
                        يعد التنفيذ جزءًا أساسيًا مهمًا من الدورة بأكملها عند تنفيذ OKRs ، وينصب تركيز التنفيذ على عمليات التفتيش والتعديلات المنتظمة إذا لزم الأمر ، عادةً مرة واحدة في الأسبوع أو في الشهر ؛
                        <br> <br>
                        يجب أن تغطي العوامل التي تؤخذ في الاعتبار من قبل OKR في التفتيش "الهدف ، والتقدم الحالي ، والمشاكل التي تمت مواجهتها ، وأسباب المشاكل ، والدعم المطلوب ، وخطط الخطوة التالية" ، ويمكن استخدام نظام OKR للمساعدة في التنفيذ ، وهو أمر ملائم للتتبع العملية برمتها لاحقًا ؛
                    </blockquote>

                    <h3> 5. الاتصال والتسجيل </h3>
                    <blockquote>
                        في بداية كل ربع سنة ، يحتاج كل عضو إلى تحديد OKRs الخاصة به لهذا الربع ، وبعد نهاية الربع ، يحتاجون إلى تسجيل OKRs وفقًا لإكمال عملهم في هذا الربع. هناك أشكال مختلفة من نقاط OKR: 0 ~ 1 ، 1 ~ 5 ، 1 ~ 10 ، 1 ~ 100 ؛
                        <br> <br>
                        تشجع OKR الأعضاء على تحديد أهداف صعبة والخروج من منطقة الراحة الخاصة بهم ، لذا فإن إكمال الأهداف بنسبة 100٪ ليس بالضرورة الأفضل ، وأفضل نتيجة هي 0.6 ~ 0.7 نقطة ، وقد لا يتم الإشادة بالنتائج العالية ، مما يشير إلى طموح تحديد الهدف لا بما فيه الكفاية ، يجب تعديل الدورة التالية ، ولا يتم بالضرورة انتقاد الدرجات المنخفضة ، ولكن من خلال تحليل الوظائف ، يجب أن نجد طرقًا لتحسين OKRs في الدورة التالية ؛
                    </blockquote>

                    <h3> 6. تحفيز الأعضاء </h3>
                    <blockquote>
                        بالمقارنة مع KPI ، فإن OKR ليست أداة تقييم ، ولكنها أداة أكثر إفادة ، والغرض الرئيسي منها ليس تقييم فريق أو عضو معين ، ولكن لتذكير الجميع دائمًا بالمهمة الحالية ؛
                    </blockquote>

                    <h3> 7. التكرار ذهابًا وإيابًا </h3>
                    <blockquote>
                        في هذه الدورة ، يمكنك التحقق مما إذا كان من الضروري تحسين النتائج الرئيسية أثناء عملية التنفيذ ، وتذكر هنا أن النتائج الرئيسية هي التي يمكن تعديلها ، وليس الأهداف ؛
                        <br> <br>
                        لا يمكن تعديل الأهداف ، ويمكن تحسين المقاييس والأساليب باستمرار ، كما يجب أن يكون تحديد النتائج الرئيسية وتعديلها توافقًا في الآراء بعد التواصل المباشر والكامل بين المديرين والأعضاء ؛
                    </blockquote>

					<br>
					<h3><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> تعرف على المزيد حول قاعدة المعرفة ANON OKRs-E الخاصة بنا</h3>
                    <h5> 1. وضع نتائج رئيسية فعالة (ANON OKRs-E) وتنفيذها </h5>
                    <blockquote>
                        1. قم بصياغة O فعال: يمكنك أولاً صياغة هدف ربع سنوي ، يجب أن يكون هذا الهدف هو الهدف من تعزيز تطوير الأعمال ، وهذا الهدف هو تحويل استراتيجية العمل ، وعادة ما نستخدم الكلمات بدلاً من الأرقام ، والفريق التنفيذي لهذا الهدف يجب التحكم فيه ، بحيث يمكن تحقيق الأهداف المحددة بهذه الطريقة ؛
                        <br> <br>
                        2. تعيين KR فعالة: يتم تقسيم KRs الشائعة إلى ثلاثة أنواع: قيمة إيجابية ، فعالة ، حرجة ، يوصى بوضع KR إيجابية قدر الإمكان ، يجب أن نحاول الحصول على نتائج جيدة ، وليس تجنب الأشياء السيئة التي تحدث ؛
                    </blockquote>

                    <h5> 2. إنشاء (KR) نظام تسجيل النتائج الرئيسية </h5>
                    <blockquote>
                        لا ينبغي النظر إلى KRs على أنها "محددة بوضوح" حتى يتم وضع نظام تسجيل الشركة في مكانه الصحيح ، ويجب أن تكون KRs صعبة ، وتشعر بأن تحقيقها شبه مستحيل ، وقد يتطلب منا تغيير طريقة تفكيرنا المتأصلة ؛
                        <br> <br>
                        1 = النتائج المذهلة ، التي تبدو شبه مستحيلة ، تتطلب منا تغيير طريقة تفكيرنا والتفكير بشكل مختلف ؛ <br>
                        0.7 = نأمل أن نتمكن من القيام بذلك ، وهو أمر صعب نوعًا ما ، ولكنه ليس مستحيلًا ، (احتمالات 50 إلى 50) ؛ <br>
                        0.3 = نعلم أنه يمكننا القيام بذلك بدون جهد أكثر من التعامل مع "العمل العادي" ؛ <br>
                        0 = لا يوجد تقدم ؛
                    </blockquote>

                    <h5> 3. تتبع التقدم / التعليقات المستمرة / التعديل في الوقت المناسب </h5>
                    <blockquote>
                        يحتاج الجميع إلى فهم أهداف الفريق ، وحتى التقدم في أهداف الفرق الأخرى ، مما يسهل العمل الجماعي ويحسن كفاءة التعاون ؛
                        <br> <br>
                        في الوقت نفسه ، يحتاجون إلى تقديم ملاحظات لبعضهم البعض لتحقيق تفاعل في الوقت الفعلي بين الأعضاء والمديرين ، ومشاركة القيمة بين الفرق ؛
                    </blockquote>

                    <h5> 4. تقييم الأداء الدوري </h5>
                    <blockquote>
                        تقييم الأداء نصف السنوي أو السنوي (التقييم الذاتي للعضو / ملاحظات الأعضاء / مقابلة الأداء / معايرة الأداء) ، لا ينصح بتكرار تقييم الأداء ليكون ربع سنوي أو شهري ؛
                        <br> <br>
                        نظرًا لأن أفضل تكرار لـ OKRs هو مرة كل ربع سنة ، وستتم مراجعة OKRs في نهاية الربع ، إذا كان تكرار تقييم الأداء أعلى من معدل OKRs ، فلن يكون له تأثير التلخيص والتقييم ؛
                        إلى حد ما ، سيكون هناك تداخل ، كما أنه سيزيد العبء على الأعضاء ، حتى لا يتمكن الأعضاء من التركيز على عملهم ؛
                    </blockquote>

					<h3><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> نحن مجهولون ونستعد للمرحلة التالية ، ونتطلع إلينا.</h3>
					<p>لمشاهدة المزيد أو معرفة المزيد عنا ، من فضلك اقرأ <a href="https://drive.google.com/file/d/1U3fxsCO61FuqVe5sk5oRF2HnBKD76QCa/view" target="_blank">الورقة البيضاء لرمز عدم الكشف عن هويته</a>;</p>
					<div class="share">
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-bit-coin-fill" style="margin-right: 4px; font-size: 18px;"></i>عنوان البيتكوين: 3PZ4372o8s7uFCFwETc7BgddHRVyrvvcHp
						</a>
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-copper-diamond-fill" style="margin-right: 4px; font-size: 18px;"></i>عنوان ETH: 0x4CA3002dfA8145d7C57486e61581A363680F277c
						</a>
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-copper-coin-fill" style="margin-right: 4px; font-size: 18px;"></i>عنوان مونيرو: 8ANdYC6J39cSashNB82piPWEYdFVeeZgKj8bWzrWxqAk9ep3QNcGZ7h3oZQt8sLeGHKkxUJwsvHs3HsEqgg1qAfe8oy4TXg
						</a>
					</div>

				</div>
				<!-- IMPORT ARTICLE CONTENT END -->
			</div>
		</div>
	</div>
</div>

<script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}css/plugin_library/new_media/v2/watch.min.js"></script>

<script type="text/javascript">
	const remote_media_flow_network_watch_subtitle_language = "anon_okr_i18n_ksa.vtt";
	const remote_media_flow_network_i18n = "en";
	const remote_media_flow_network_live = "false";
	const remote_media_flow_network_logo = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/common/anon_sys_v_compression_300.png";
	const remote_media_flow_network_cover = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/remote_media_flow/watch=privatized-network/anon_okr/anon_news_cover.png";
	const remote_media_flow_network_subtitle = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/remote_media_flow/watch=privatized-network/anon_okr/" + remote_media_flow_network_watch_subtitle_language;
	const compressed_pointer = "&idx=1&adaptivelytrans=0&bizid=1023&dotrans=2991&hy=SZ&m=73ea83bfb53c56ea389ba6942044463e&web=1&X-snsvideoflag=xV3&taskid=0";
	const anon_verify = '{{ site.remote_network_anon_token_verify }}';
	const anon_token = '{{ site.remote_network_anon_token_api }}';
	const remote_media_flow_network_service = "https://finder.video.qq.com/251/20302/stodownload?encfilekey=" + anon_verify + "&token=" + anon_token;

	const anon_watch_container = new ANON_WATCH({
		container: document.getElementById('WATCH?LM=APTXGKS0Q'),
		theme: '#00fe3c',
		volume: 0.7,
		loop: false,
		airplay: true,
		hotkey: true,
		mutex: true,
		preload: 'auto',
		autoplay: false,
		screenshot: true,
		live: false,
		lang: remote_media_flow_network_i18n,
		logo: remote_media_flow_network_logo,
		video: {
			type: 'auto',
			url: remote_media_flow_network_service,
			pic: remote_media_flow_network_cover
		}, subtitle: {
			url: remote_media_flow_network_subtitle,
			type: 'webvtt',
			fontSize: '16px',
			bottom: '8%',
			color: '#00fe3c',
		}
	});
</script>