---
permalink: /OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-G0ZF7/RemotelyNetwork/Actions=InvokeRequest/TokenKeyPairs=Authorization/PrivatizedAPIs/Services/BizProducts/ANON-OKRs-E/Intl/USA
layout: ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/USA/singleton_model/core
title: 🥷 ANON OKRs-E · See How We Can Assist In Comprehensive Change.
excerpt: 📡  WE ARE ANON SYS, WE ARE PREPARING FOR THE NEXT PHASE, EXPECT US.
---

<link rel="stylesheet" href="{{ site.remote_network_vm_for_anon_inc_base_addr }}css/plugin_library/new_media/v2/watch.min.css">
<style>
	.content_omitted_322 {
		max-width: 335px;
		vertical-align: top;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>

<div class="container">
	<div class="row row--grid">
		<!-- IMPORT BREADCRUMB START -->
		<div class="col-12 col-xl-10 offset-xl-1">
			<ul class="breadcrumb">
				<li class="breadcrumb__item"><a href="javascript:void(0);">Home</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">Activity</a></li>
				<li class="breadcrumb__item"><a href="javascript:void(0);">X Plans</a></li>
                <li class="breadcrumb__item"><a href="javascript:void(0);">We Work</a></li>
				<li class="breadcrumb__item"><a href="javascript:void(0);">Products</a></li>
				<li class="breadcrumb__item breadcrumb__item--active">ANON OKRs-E</li>
			</ul>
		</div>
		<!-- IMPORT BREADCRUMB END -->

		<div class="col-12 col-xl-10 offset-xl-1">
			<div class="article">
				<!-- IMPORT ARTICLE CONTENT START -->
				<div class="article__content">
					<div class="single-watch">
						<div class="watch-container" id="WATCH?LM=APTXGKS0Q"></div>
					</div>
					<div class="article__meta">
                        <a class="article__category" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="translate-api"><i class="translate-icons ri-translate-2" style="margin-right: 5px;"></i> Tweets Translate</a>
                        <ul class="router_menu dropdown-menu header__profile-menu" aria-labelledby="translate-api">
                            {% for i18n_api in site.remote_network_anon_okr_translate_api %}
                            <li class="router_menu_subset" style="padding-left: 0px;"><a class="header__nav-link" href="{{ i18n_api.code_link }}"><img src="{{ i18n_api.code_icon }}" alt="{{ i18n_api.code_name }}" style="width: 20px; height: 20px; margin: 0 10px 0px 0px;"><span>{{ i18n_api.code_name }}</span></a></li>
                            {% endfor %}
                            <li class="router_menu_subset footer_i18n" style="padding-left: 0px;">ISO Code (A ~ Z.)</li>
						</ul>
						<span class="article__date">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path d="M12,2A10,10,0,1,0,22,12,10.01114,10.01114,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,12,20ZM14.09814,9.63379,13,10.26807V7a1,1,0,0,0-2,0v5a1.00025,1.00025,0,0,0,1.5.86621l2.59814-1.5a1.00016,1.00016,0,1,0-1-1.73242Z" />
							</svg>
							<span class="article__date" id="i18nTime">{% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/utils/transformers-models/remote_i18n_time.html %}</span>
						</span>
					</div>

					<h1><i class="ri-bubble-chart-fill" style="margin-right: 0px; font-size: 30px;"></i> ANON OKRs-E · See How We Can Assist In Comprehensive Change.</h1>
					<blockquote>The Future Depends On Our Continuous Exploration Of Lofty Goals, We Can Build And Create Long-term Value For Society Through The Key Results Of The Achieved Goals, WE ARE ANON SYS, Expect Us.</blockquote>

					<h2><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 23px;"></i> What are OKRs?</h2>
					<ul>
						<li>1. OKR = Objectives & Key Results, meaning goals and key results;</li>
						<li>2. O = Objective, which is a description of a qualitative broad goal, which is to promote the enterprise to move forward in the desired direction;
							<ul><li>2.1 Example: "What do we want to do?", Growing the global business of our anonymous organization;</li></ul>
						</li>
						<li>3. KR = Key Result, is a key result to measure the completion of a determined goal;
							<ul><li>3.1 Example: "How will we know if key results have been achieved?", Achieving Anonymous's goal of $100 million in global sales;</li></ul>
						</li>
						<li>4. The concept of OKR comes from Drucker's goal management. By setting challenging goals, focusing on core work, continuously tracking progress, and communicating feedback in a timely manner, personal, organizational and company goals are finally achieved.;</li>
					</ul>

					<h2><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> We Build ANON OKRs-E Application Frameworks</h2>
					<!-- Sync With Media Resources -->
					<script type="text/javascript">
						function SyncTransformersModel() {
							var currentTime = new Date().getHours();
							if (0 <= currentTime && currentTime < 5) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_dark_models_addr }}' alt='ANON OKRs-E''>");
							}
							if (5 <= currentTime && currentTime < 19) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_light_models_addr }}' alt='ANON OKRs-E''>");
							}
							if (19 <= currentTime && currentTime < 24) {
								document.write("<img class='flow-container' src='{{ site.remote_network_vm_for_products_projects_anon_okrs_dark_models_addr }}' alt='ANON OKRs-E''>");
							}
						}
						SyncTransformersModel();
					</script>
					<ul>
						<li>1. Develop Effective (ANON OKRs-E) Objective Key Results and Execution;</li>
						<li>2. Establish (KR) key result scoring system;</li>
						<li>3. Progress tracking / continuous feedback / timely adjustment;</li>
						<li>4. Regular performance reviews;</li>
					</ul>

					<h2><i class="ri-flutter-fill" style="margin-right: 6px; font-size: 24px;"></i>Rapid deployment of our ANON OKRs-E Application</h2>
					<h3>1. Team OKR formulation</h3>
					<p>The team members usually use the target crowdfunding method in a centralized meeting, and work together to discuss and formulate the team OKR, and clarify the future direction of the team. The whole process is divided into 4 steps:</p>
					<blockquote>
						1.1. The team leader first systematically summarizes the team's past work performance and deficiencies, and gives suggestions for the direction of work. After the introduction, you can ask everyone if you have any questions to ensure that all team members understand;
						<br><br>
						1.2. Let each team member think about team goals, personal job responsibilities and work interests, and what goals the team needs to achieve in order to make the team do better. Each team member contributes 1~2 team OKRs. In this process , The team leader, as a member of the team, also needs to submit 1~2 team OKRs;
						<br><br>
						1.3. The team leader summarizes the team OKR suggestions output by all team members, asks the submitters to explain the value and significance of the submitted OKRs one by one, and answers the doubts of other team members. After all the team OKRs are explained, all team members vote for election. The most important 3~5 OKRs form the final team OKR;
						<br><br>
						1.4. The team leader integrates everyone's team OKRs and submits them to the superior leaders for approval. If necessary, they can make corresponding additions based on the opinions of the superior leaders, and convene a discussion meeting again. After reaching a consensus and understanding, the final draft is formed to form the final team OKR;
					</blockquote>

					<h3>2. Personal OKR formulation</h3>
					<p>Only when team goals and personal goals are used in combination, the team's performance can reach the best level. Members need to think about how to carry team OKRs when formulating personal OKRs. The specific steps are as follows:</p>
					<blockquote>
						2.1. First of all, members combine team OKRs and personal interests, think about where they can contribute to the team's goals, and form their own personal OKR draft;
						<br><br>
						2.2. Then enter personal OKRs into our anonymous public OKR system platform, so that all team members can easily view and comment;
						<br><br>
						2.3. Second, invite leaders and other team members to comment on their OKRs to confirm if there are any omissions and inappropriateness;
						<br><br>
						2.4. Finally, refresh the personal OKR with the opinions of the team;
					</blockquote>

					<h3>3. Announce OKRs</h3>
					<blockquote>
						Announcement is not just to inform all employees of the determined OKRs, but to confirm why these goals are set, what they mean to the company to achieve these goals, and what needs to be done by everyone to accomplish these goals together. consistent understanding;
						<br><br>
						Announced on the company's OKR system, everyone can see the OKRs of others, including the OKRs of executives and CEOs;
						<br><br>
						By understanding the OKRs of others, you can clearly assess whether your OKRs are more ambitious or conservative in terms of goals compared with others, and whether the direction of the goals is consistent or deviated, and then communicate with the parties to discuss, and the process will be carried out. auto repair;
					</blockquote>

					<h3>4. Execute OKRs</h3>
					<blockquote>
						When there are key results, the tasks should be decomposed around specific goals. Each key result will derive a series of tasks, which will be handed over to different members;
						<br><br>
						The key result (KR) leader acts as a project manager to mobilize enterprise resources and organize and coordinate everyone, and should maintain absolutely smooth communication with enterprise decision makers;
						<br><br>
						Execution is an important core part of the entire cycle when implementing OKRs, the focus of execution is on regular inspections and adjustments if necessary, usually once a week or a month;
						<br><br>
						The factors considered by OKR in the inspection should cover "target, current progress, problems encountered, causes of problems, required support, and next-step plans". The OKR system can be used to assist in the implementation, which is convenient to trace the whole process in the future;
					</blockquote>

					<h3>5. Communication and scoring</h3>
					<blockquote>
						At the beginning of each quarter, each member needs to determine their own OKRs for the current quarter, and after the end of a quarter, they need to score OKRs according to the completion of their work in this quarter. There are various forms of OKR scoring: 0~1, 1~5, 1~10, 1~100;
						<br><br>
						OKR encourages members to set challenging goals and break out of their comfort zone, so 100% completion of goals is not necessarily the best, the best score is 0.6~0.7 points, high scores may not be praised, indicating the ambition of goal setting Not enough, the next cycle needs to be adjusted, and low scores are not necessarily criticized, but through job analysis, find ways to improve OKRs in the next cycle;
					</blockquote>

					<h3>6. Motivate members</h3>
					<blockquote>
						Compared with KPI, OKR is not an assessment tool, but a more instructive tool. Its main purpose is not to assess a certain team or member, but to always remind everyone what the current task is;
					</blockquote>

					<h3>7. Cycle back and forth</h3>
					<blockquote>
						This cycle goes back and forth to see if it is necessary to improve the key results during the execution process, remember here that it is the key results that can be adjusted, not the goals;
						<br><br>
						Goals cannot be adjusted, measures and methods can be continuously improved, and the setting and adjustment of key results must also be a consensus after direct and full communication between managers and members;
					</blockquote>

					<br>
					<h3><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> Learn more about our ANON OKRs-E Knowledge Base</h3>
					<h5>1. Develop Effective (ANON OKRs-E) Objective Key Results and Execution</h5>
					<blockquote>
						1. Formulate an effective O: You can first formulate a quarterly goal, this goal must be the goal of promoting business development, this goal is a transformation of business strategy, usually we use words instead of numbers, and the executive team of this goal must Controllable, so that the goals set in this way can be achieved;
						<br><br>
						2. Set effective KR: Common KRs are divided into three types: positive, effective, critical value, it is recommended to set positive KR as much as possible, we should try to get good results, not avoid bad ones things happen;
					</blockquote>

					<h5>2. Establish (KR) key result scoring system</h5>
					<blockquote>
						KRs should not be seen as "clearly defined" until a company's scoring system is in place, KRs should be challenging, feel almost impossible to achieve, and may require us to change our inherent mindset;
						<br><br>
						1 = Incredible results that feel near impossible to achieve, require us to change our mindset and think differently;<br>
						0.7 = We would like to be able to do this, which is somewhat difficult, but not impossible, (50 to 50 odds);<br>
						0.3 = We know that we can do it without much effort than dealing with "regular work";<br>
						0 = no progress;
					</blockquote>

					<h5>3. Progress tracking / continuous feedback / timely adjustments</h5>
					<blockquote>
						Everyone needs to understand the team's goals, and even the progress of other teams' goals, which facilitates cross-team work and improves collaboration efficiency;
						<br><br>
						At the same time, they need to give feedback to each other to achieve real-time interaction between members and managers, and value sharing between teams;
					</blockquote>

					<h5>4. Regular performance reviews</h5>
					<blockquote>
						Semi-annual or annual performance evaluation (member self-assessment/member feedback/performance interview/performance calibration), quarterly or monthly mode is not recommended for the frequency of performance evaluation;
						<br><br>
						Since the optimal frequency of OKRs is once a quarter, and OKRs will be reviewed at the end of the quarter, if the frequency of performance evaluation is higher than that of OKRs, it will not have the effect of summarizing and evaluating;
						There will be overlap to a certain extent, and it will also increase the burden on members, so that members cannot focus on their own work;
					</blockquote>

					<h3><i class="ri-drag-move-line" style="margin-right: 0px; font-size: 19px;"></i> Anonymous is Getting Ready For The Next Phase, Expect Us.</h3>
					<p>To watch more or learn more about us, please read <a href="https://drive.google.com/file/d/1U3fxsCO61FuqVe5sk5oRF2HnBKD76QCa/view" target="_blank">Anon Token White Paper</a>;</p>
					<div class="share">
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-bit-coin-fill" style="margin-right: 4px; font-size: 18px;"></i>BTC ADDR: 3PZ4372o8s7uFCFwETc7BgddHRVyrvvcHp
						</a>
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-copper-diamond-fill" style="margin-right: 4px; font-size: 18px;"></i>ETH ADDR: 0x4CA3002dfA8145d7C57486e61581A363680F277c
						</a>
						<a href="javascript:void(0);" class="share__link share__link content_omitted_322">
							<i class="ri-copper-coin-fill" style="margin-right: 4px; font-size: 18px;"></i>XMR ADDR: 8ANdYC6J39cSashNB82piPWEYdFVeeZgKj8bWzrWxqAk9ep3QNcGZ7h3oZQt8sLeGHKkxUJwsvHs3HsEqgg1qAfe8oy4TXg
						</a>
					</div>

				</div>
				<!-- IMPORT ARTICLE CONTENT END -->
			</div>
		</div>
	</div>
</div>

<script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}css/plugin_library/new_media/v2/watch.min.js"></script>

<script type="text/javascript">
	const remote_media_flow_network_watch_subtitle_language = "anon_okr_i18n_usa.vtt";
	const remote_media_flow_network_i18n = "en";
	const remote_media_flow_network_live = "false";
	const remote_media_flow_network_logo = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/common/anon_sys_v_compression_300.png";
	const remote_media_flow_network_cover = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/remote_media_flow/watch=privatized-network/anon_okr/anon_news_cover.png";
	const remote_media_flow_network_subtitle = "/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/resource/remote_media_flow/watch=privatized-network/anon_okr/" + remote_media_flow_network_watch_subtitle_language;
	const compressed_pointer = "&idx=1&adaptivelytrans=0&bizid=1023&dotrans=2991&hy=SZ&m=73ea83bfb53c56ea389ba6942044463e&web=1&X-snsvideoflag=xV3&taskid=0";
	const anon_token = "AxricY7RBHdUvd7j5pYw5nckXRFDVrzmEKg50bhfPS3mGkviark07cMcGmevOvvoKdYuuEWGNRrpU";
	const remote_media_flow_network_service = "https://finder.video.qq.com/251/20302/stodownload?encfilekey=Cvvj5Ix3eewK0tHtibORqcsqchXNh0Gf3sJcaYqC2rQBEeQibtsx5EBb1WicqAt2yVzk21P235iazaAIszlG0KCoACoKETTAnYQTKze39wVbJRgK3SicjaZdcZPS2b2JSIg0V&token=" + anon_token;

	const anon_watch_container = new ANON_WATCH({
		container: document.getElementById('WATCH?LM=APTXGKS0Q'),
		theme: '#00fe3c',
		volume: 0.7,
		loop: false,
		airplay: true,
		hotkey: true,
		mutex: true,
		preload: 'auto',
		autoplay: false,
		screenshot: true,
		live: false,
		lang: remote_media_flow_network_i18n,
		logo: remote_media_flow_network_logo,
		video: {
			type: 'auto',
			url: remote_media_flow_network_service,
			pic: remote_media_flow_network_cover
		}, subtitle: {
			url: remote_media_flow_network_subtitle,
			type: 'webvtt',
			fontSize: '16px',
			bottom: '8%',
			color: '#00fe3c',
		}
	});
</script>