<!DOCTYPE html>
<html lang="zh-HK">
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/HKG/head.html %}
  <body>
    <noscript>
      <strong>
        很抱歉, (ANON SYS, Inc.) 在沒有啟用 Javascript 的情況下無法正常工作。請啟用它以繼續。
      </strong>
    </noscript>
    <!-- LAZY LOADING START -->
    <section class="loader-page" id="global_preloader">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </section>
    <!-- LAZY LOADING END -->
    {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/HKG/header.html %}
    <main class="main" id="master">{{ content }}</main>
    {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/HKG/footer.html %}
    {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/HKG/mini-footer.html %}
    <!-- IMPORT STATIC JS -->
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}js/jquery-3.5.1.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}js/owl.carousel.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}js/select2.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}js/smooth-scrollbar.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}js/jquery.countdown.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}js/transformers-models.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}js/main.js"></script>
    <!-- Sync With System -->
    <script type="text/javascript">
      function SyncTransformersModel() {
        var currentTime = new Date().getHours();
        if (0 <= currentTime && currentTime < 5) {
          document.write("<script src='/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/js/sync-main-dark-model.js'>" + "<" + "/script>");
        }
        if (5 <= currentTime && currentTime < 19) {
          document.write("<script src='/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/js/sync-main-light-model.js'>" + "<" + "/script>");
        }
        if (19 <= currentTime && currentTime < 24) {
          document.write("<script src='/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/js/sync-main-dark-model.js'>" + "<" + "/script>");
        }
      }
      SyncTransformersModel();
    </script>
  </body>
</html>