---
layout: ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/JPN/core
title: 🇯🇵 ANON SYS、Inc へようこそ。 ☄️
excerpt: 🥷 私たちは匿名のSYSです。 私たちは軍団です。 🥷
---

<!-- IMPORT MAIN CONTENT START -->
{% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/JPN/common-ads.html %}
<div class="home home--hero">
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/kernel/i18n/JPN/top-kernel.html %}
</div>
<div class="container">
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/kernel/i18n/JPN/explore-kernel.html %}
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/JPN/get-started.html %}
</div>
<!-- IMPORT MAIN CONTENT END -->