<!DOCTYPE html>
<html lang="en">
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/head.html %}
  <body>
    {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/header.html %}
    <main class="main">{{ content }}</main>
    {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/footer.html %}
    <!-- IMPORT STATIC JS -->
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/jquery-3.5.1.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/owl.carousel.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/select2.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/smooth-scrollbar.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/jquery.countdown.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/main.js"></script>
  </body>
</html>