---
layout: ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/CHN/core
title: 🎉  欢迎来到 ANON SYS, Inc. ☄️
excerpt: WE ARE ANONYMOUS SYS. WE ARE LEGION.
---

<!-- IMPORT MAIN CONTENT START -->
{% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/CHN/common-ads.html %}
<div class="home home--hero">
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/kernel/i18n/CHN/top-kernel.html %}
</div>
<div class="container">
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/kernel/i18n/CHN/explore-kernel.html %}
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/CHN/get-started.html %}
</div>
<!-- IMPORT MAIN CONTENT END -->