---
layout: ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/ESP/core
title: 🎉  Bienvenido a ANON SYS, Inc. ☄️
excerpt: SOMOS ANÓNIMOS SYS. SOMOS LEGIÓN.
---

<!-- IMPORT MAIN CONTENT START -->
{% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/ESP/common-ads.html %}
<div class="home home--hero">
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/kernel/i18n/ESP/top-kernel.html %}
</div>
<div class="container">
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/kernel/i18n/ESP/explore-kernel.html %}
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/ESP/get-started.html %}
</div>
<!-- IMPORT MAIN CONTENT END -->