---
layout: ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/RUS/core
title: 🎉  Добро пожаловать в ANON SYS, Inc. ☄️
excerpt: МЫ АНОНИМНЫЕ СИСТЕМЫ. МЫ ЛЕГИОН.
---

<!-- IMPORT MAIN CONTENT START -->
{% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/RUS/common-ads.html %}
<div class="home home--hero">
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/kernel/i18n/RUS/top-kernel.html %}
</div>
<div class="container">
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/kernel/i18n/RUS/explore-kernel.html %}
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/RUS/get-started.html %}
</div>
<!-- IMPORT MAIN CONTENT END -->