<!DOCTYPE html>
<html lang="es-ES">
  {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/ESP/head.html %}
  <body>
    <noscript>
      <strong>
        Lo sentimos, pero (ANON SYS, Inc.) no funciona correctamente sin Javascript habilitado. Por favor, activelo para continuar.
      </strong>
    </noscript>
    <!-- LAZY LOADING START -->
    <div id="global_preloader" style="z-index: 9;">
      <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
    </div>
    <!-- LAZY LOADING END -->
    {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/ESP/header.html %}
    <main class="main" id="master">{{ content }}</main>
    {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/ESP/footer.html %}
    {% include ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/common/i18n/ESP/mini-footer.html %}
    <!-- IMPORT STATIC JS -->
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/jquery-3.5.1.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/owl.carousel.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/select2.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/smooth-scrollbar.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/jquery.countdown.min.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/transformers-models.js"></script>
    <script src="{{ site.remote_network_vm_for_anon_inc_base_addr }}assets/js/main.js"></script>
    <!-- Sync With System -->
    <script type="text/javascript">
      function SyncTransformersModel() {
        var currentTime = new Date().getHours();
        if (0 <= currentTime && currentTime < 5) {
          document.write("<script src='/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/js/sync-main-dark-model.js'>" + "<" + "/script>");
        }
        if (5 <= currentTime && currentTime < 19) {
          document.write("<script src='/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/js/sync-main-light-model.js'>" + "<" + "/script>");
        }
        if (19 <= currentTime && currentTime < 24) {
          document.write("<script src='/OpenAPIs/ServerlessEngine/PaaS/Containers/VMS-0XPTO/ANON-INC/assets/js/sync-main-dark-model.js'>" + "<" + "/script>");
        }
      }
      SyncTransformersModel();
    </script>
  </body>
</html>